/* overrides */
.main-nav { position: static; margin: 0; padding: 20px 40px 10px; height: auto; border-bottom: solid 1px rgba(0, 0, 0, .05); background-color: #f5f8fa; }
.vertical { display: block; padding: 20px 0 0; }
.no-cover.main-header { min-height: 580px; }
.main-header-content.inner h2 { margin-bottom: 20px; }
.copyright { float: none; width: auto; text-align: center; }

/* elements */
ul.tx-unstyled { margin: 0; padding: 0; list-style: none; }
ul.tx-inline > li { float: left; }

/* navigation */
.main-nav ul > li { margin-left: 30px; font-weight: normal; font-size: 15px; line-height: 1em; }
.main-nav ul > li > a { opacity: 0.7 }
.main-nav ul > .nav-log-in, .main-nav ul > .nav-sign-up { float: right; }

/* headings */
h2 > .tx-tip { margin-left: 20px; color: #999; letter-spacing: normal; font-size: 18px; }

/* logo */
.tx-logo { display: inline-block; width: 100px; height: 100px; border-radius: 50%; background: #fff; }
.tx-logo > figure { width: 100%; height: 100%; background-position: 50%; background-size: 50%; background-repeat: no-repeat; }
.tx-logo.tx-logo-gradient { background: -webkit-linear-gradient(-56deg, #5c666f 0, #648aac 100%); background: linear-gradient(-56deg, #5c666f 0, #648aac 100%); }
.tx-logo.tx-logo-generic { background: #eaeef3; }
.tx-logo.tx-logo-generic > figure { background-image: url('../images/platform-generic.svg') }

.tx-logo.android { background: -webkit-linear-gradient(-220deg, #b0d949 23%, #83b830 100%); background: linear-gradient(-220deg, #b0d949 23%, #83b830 100%); }
.tx-logo.angular { background: -webkit-linear-gradient(-220deg, #008bff 40%, #2c6fad 140%); background: linear-gradient(-220deg, #008bff 40%, #2c6fad 140%); }
.tx-logo.ember { background: -webkit-linear-gradient(-220deg, #f46642 40%, #9c2202 140%); background: linear-gradient(-220deg, #f46642 40%, #9c2202 140%); }
.tx-logo.react { background: -webkit-linear-gradient(-220deg, #3a5795 23%, #338bbc 100%); background: linear-gradient(-220deg, #3a5795 23%, #338bbc 100%); }
.tx-logo.windows-phone, .tx-logo.windows { background: -webkit-linear-gradient(-220deg, #68217a 23%, #9b62a9 100%); background: linear-gradient(-220deg, #68217a 23%, #9b62a9 100%); }
.tx-logo.node, .tx-logo.node-js { background: -webkit-linear-gradient(-220deg, #78b743 40%, #9fe861 140%); background: linear-gradient(-220deg, #78b743 40%, #9fe861 140%); }
.tx-logo.ruby-on-rails { background: -webkit-linear-gradient(-220deg, #ff0046 23%, #951a3c 100%); background: linear-gradient(-220deg, #ff0046 23%, #951a3c 100%); }
.tx-logo.vanilla-javascript, .tx-logo.vanilla-js, .tx-logo.javascript, .tx-logo.js { background: linear-gradient(-180deg, #f0db4f 0, #edd223 100%); }
.tx-logo.php, .tx-logo.php-laravel, .tx-logo.php-symfony, .tx-logo.laravel, .tx-logo.symfony { background: -webkit-linear-gradient(-220deg, #6d7bce 40%, #3b2862 140%); background: linear-gradient(-220deg, #6d7bce 40%, #3b2862 140%); }

.tx-logo.android > figure, .tx-logo.ios > figure, .tx-logo.windows-phone > figure { background-size: 40%; }
.tx-logo.ios > figure { background-position: 48% 47%; }

/* breadcrumbs */
.tx-breadcrumbs { display: inline-block; font-size: 14px; }
.tx-breadcrumbs > i { padding: 0 5px; font-style: normal; }
.tx-breadcrumbs > a { text-decoration: none; }

/* page nav */
.tx-page-nav { border-bottom: solid 1px rgba(0, 0, 0, 0.07); }
.tx-page-nav ul > li { display: inline-block; margin: 0 0 -1px; }
.tx-page-nav ul > li > a { display: inline-block; margin: 0 30px 0 0; padding: 5px 0; border-bottom: solid 1px rgba(255, 255, 255, 0); color: #4A4A4A; text-decoration: none; line-height: 2.5em; }
.tx-page-nav ul > li > a:hover { color: #999; }
.tx-page-nav ul > li > a.selected { border-bottom: solid 1px rgba(0, 0, 0, 0.5); }

/* hovers */
.tx-hover:hover { background: #fff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); transition: background .1s cubic-bezier(.455, .03, .515, .955); }
